<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=br.com.diogoko"/>
        <listEntry value="archetypeArtifactId=maven-doclet-archetype"/>
        <listEntry value="archetypeVersion=1.0.0"/>
        <listEntry value="groupId=OnlineFlipkart"/>
        <listEntry value="artifactId=OnlineFlipkart"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=OnlineFlipkart.OnlineFlipkart"/>
        <listEntry value="outputDirectory=C:\AutomationProject"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\ashok\AppData\Local\Temp\m2e-archetypeGenerator14322221616363503608"/>
</launchConfiguration>
